.card {
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: #0D1117;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.flexCardHeading {
    display: grid;
    place-content: center;
}

.langTags {
    display: flex;
    justify-content: space-between;
}