.App {
  background-color: #0D1117;
  /* height: 84vh; */
  /* width: 100vw; */
  /* aligning sidebar to vertical center */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px; */
  padding-top: 160px;
  color: #b1b1b1;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  font-size: 15px;
}